@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>I LOVE YOU BEEBA</h1>
    <p class="lead">I Love more and More </p>
    <p><a href="#" class="btn btn-primary btn-lg">I LOVE YOU 1000000000000000 Times;</a></p>
</div>

